<input type="text" [(ngModel)]='title'>

{{title}}

<div *ngIf="title === 'anderson'">
  hola {{title}} como estas 
</div>

<button (click)="agregarNombre()">Agregar </button>

<ul>
  <li *ngIf="nombres.length === 0"> Ya no hay que mostrar</li>
  <li *ngFor="let nombre of nombres; let indice = index" >{{indice}} --> {{nombre}}  <button (click)="eliminar(indice)" >Eliminar</button></li> 
</ul>


<div *ngFor="let producto of productos">
{{producto.titulo}}
<img [src]="producto.image" alt="" style="width: 20%;height: 20%;">
${{producto.pricio}}
</div>