<input type="text" [(ngModel)]='title'>




{{title}}

<div *ngIf="title === 'anderson'">
  hola {{title}} como estas 
</div>


<div [ngSwitch]="title">
  <p *ngSwitchCase="'nicolas'">soy nicolas</p>
  <p *ngSwitchCase="'anderson'">soy anderson</p>
  <p *ngSwitchCase="'alejandra'">soy alejandra</p>
  <p *ngSwitchDefault>busca de nuevo</p>

</div>

<button (click)="agregarNombre()">Agregar </button>

<ul>
  <li *ngIf="nombres.length === 0"> Ya no hay que mostrar</li>
  <li *ngFor="let nombre of nombres; let indice = index" >{{indice}} --> {{nombre}}  <button (click)="eliminar(indice)" >Eliminar</button></li> 
</ul>


<div *ngFor="let producto_ver of productos">
  <app-producto (eventoCarrito)="clickCarrito($event)" [producto]="producto_ver"></app-producto>
</div>